<div id="main">
  <h2>Chat room</h2>
  <div id="chat_body">
    <div id="messages">
     
    <% if @message_logs.present? %>
      <% @message_logs.each do |message_log| %>
        
        <% session['chat_room_name'] == message_log.username ? category="sent" : category="received"  %>
        <p class='<%= category %>'>
        <%= message_log.username %>
        <br>
        <%= message_log.body %>
        <br>
        <%= message_log.created_at %>
        </p>
      <% end %>

    <% end %>
      </div>
    <form id="send_message">
      <input type="text" id="message" name="message">
      <button>Send</button>
    </form>
  </div>
  <div id="modal">
    <div>
      <h4>Add a name</h4>
      <form id="set_name">
        <input type="text" id="add_name" name="add_name">
        <button>Submit</button>
      </form>
    </div>
  </div>
</div>